.playback button:before { display: inline-block; content: '🔈'; color: rgba(0, 0, 0, .5); margin-right: 3px; }
.playback button.loading:before { content: '🕜'; color: rgba(51, 51, 51, 1); }
.playback button.playing:before { content: '🔊'; color: rgba(51, 51, 51, 1); }
